* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background: linear-gradient(120deg, #121313, #66a6ff);
}

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner {
    color: rgb(55, 3, 39);
    font-size: 30px;
}

#clock {
    font-size: 20px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}